.weather-pack {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
}
.weather-pack_sections {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0rem auto;
    padding: 0;
}
.weather-pack_sub_section {
    width: 100%;   
    text-align: center;
}
.weather-pack_section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;  
    margin-top: 2rem;
    margin-bottom: 1.65rem;
}
@media(min-width: 40rem) {
    .weather-pack_sub_section {
        width: 48%;
    }
}
.converter {
    width: 100%;   
    text-align: center;
}
.icon {
    vertical-align: bottom;
    color: #1c75bc;
}
