.weather-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;  
/* background-color: rgb(42, 71, 165); */
  width: 25%;
  margin: 0.6rem;
  padding: 0;
  border-radius: 5px;
  box-shadow: 0 4px 10px -2px rgb(97, 95, 95);
}
.weather-item:hover {
  box-shadow: 0 2px 4px -2px rgb(97, 95, 95);
}
/* .weather-item_image-anchor {
  background-color: blueviolet;
  margin: 0 auto;
  padding: 0;
} */
.weather-image_container {
  /* background-color: crimson; */
  margin: 0rem auto;
  padding: 0rem;
  border-radius: 2rem;
  width: 100%;
 
  }
.weather-image {
  width: 100%;
  margin: 0;
  padding: 0.2rem; 
  vertical-align: top;
}
